<!doctype html>
<html lang="fa">
<head>
  <meta charset="utf-8"/>
  <meta name="viewport" content="width=device-width,initial-scale=1,viewport-fit=cover"/>
  <title>Role Select</title>
  <link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
</head>
<body>
  <div class="wrap center">
    <div class="card hero">
      <h1 class="role-select">انتخاب نقش</h1>
      <div class="row-btns">
        <a class="btn primary" href="/student">👩‍🎓 دانشجو</a>
        <a class="btn" href="/teacher">👨‍🏫 استاد</a>
      </div>
    </div>
  </div>
</body>
</html>
